#include "XcodeDefault.xcconfig"

SDKROOT = watchos
SUPPORTED_PLATFORMS = watchos watchsimulator
TARGETED_DEVICE_FAMILY = 4
WATCHOS_DEPLOYMENT_TARGET = 10.0

ENABLE_BITCODE = NO
SKIP_INSTALL = YES
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY =

ISH_WATCH_ARTIFACT_ROOT = $(PROJECT_TEMP_DIR)/iSHWatchArtifacts/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
ISH_WATCH_LIBRARY_DIR = $(BUILT_PRODUCTS_DIR)/iSHWatchLibraries
