#include "iSH.xcconfig"
#include "WatchOS.xcconfig"

PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(ROOT_BUNDLE_IDENTIFIER).watchkitapp.uitests
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

GENERATE_INFOPLIST_FILE = YES
SWIFT_VERSION = 5.0
SWIFT_EMIT_LOC_STRINGS = NO
STRING_CATALOG_GENERATE_SYMBOLS = NO
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

TEST_TARGET_NAME = iSHWatch
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

SKIP_INSTALL = YES
CODE_SIGN_STYLE = Automatic
CODE_SIGNING_ALLOWED = YES
CODE_SIGNING_REQUIRED = YES
CODE_SIGN_IDENTITY[sdk=watchos*] = Apple Development
CODE_SIGN_IDENTITY[sdk=watchsimulator*] = -

WATCHOS_DEPLOYMENT_TARGET[arch=arm64][sdk=watchos*] = 26.0
